{% extends 'main/layout.html' %}

{% block title %} {{obj_titles.about}} {% endblock %}

{% block content %}
    <div class="contact_information">
        <h1>{{obj_message_titles.about}}</h1>
        <p1>{{obj_contacts_info.txt_message}}</p1>
        <p></p>
        <p1>Наше приложение обладает уникальной способностью повышать ваши профессиональные навыки, и это не ограничивается только медицинской сферой.</p1>
<ul>

    <a><li>1. Медицинские специалисты: Наш продукт поможет вам углубить знания в области медицины, изучить новые методы диагностики и лечения, а также следить за последними тенденциями и исследованиями.</li></a>
<a><li>2. Другие профессионалы: Независимо от вашей области деятельности, наше предложение поможет вам развивать навыки, необходимые для успешной карьеры. Это может быть управление проектами, коммуникация, аналитика, навыки программирования или дизайна.</li></a>
<a><li>3. Личное развитие: Наш продукт также способствует вашему личному росту. Вы сможете улучшить навыки временного управления, самоорганизации, решения проблем и многие другие.</li></a>
    <a><li>Вне зависимости от вашей профессии, наше приложение поможет вам стать более компетентным и успешным профессионалом.</li></a>


    </ul>
    </div>
{% endblock %}