{% extends 'main/layout.html' %}

{% block title %} {{obj_tab_titles.main_page}}{% endblock %}

{% block content %}
    <div class="base_center">
        <h1>Привет, {{user.username|default:'Guest'}}!</h1>
        <p1> Мы разработали приложение для дополнительного обучения специалистов из научной, медицинской и смежных областей , дополнительно можно прочесть во вкладке(слева)
            "О проекте", для связи "Контакты", чтобы вернуться сюда "Главная страница", а выйти
            из профиля "Выйти", желаем успехов!
        </p1>
    </div>
{% endblock %}